{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'src/css/calendar.css' %}">
    <title>Document</title>
</head>

<body>



    <div class="registered_user">
        <div class="container_all">
            <div class="menu_user">
                <a href="{% url 'user_page' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
                <a href="{% url 'calendar' %}"><i class="fa fa-calendar-o" aria-hidden="true"></i></a>
                 <a href="{% url 'notifications' %}"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                 <a href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i></a>
 

            </div>
        </div>

        <section class="calendar_info">
            <div class="container_all">
                {% for event in events %}
                <div class="box_calendar_info">
                    <h2 class="heading_calendar">Календарь </h2>
                    <p class="week_items">{{ event.date|date:"l"}}, {{ event.date.day}} {{ event.date|date:"E"}}</p>
                    <div class="box_event_calendar">
                        <div class="box_show_time">
                            <p class="time">{{ event.date|date:"f"}}</p>
                        </div>
                        <div class="box_event_items">
                            <span class='event_text'>{{ event.group.category }}</span>
                            <h2 class="event_name">{{event.title}}</h2>

                            <div class="box_event_text">
                                <span class='event_text'>{{ event.place }}</span>
                                <span class='event_text'>{{event.members.count}} участников</span>
                            </div>

                        </div>
                    </div>
                </div>


              {% endfor %}


            </div>
        </section>




        <footer>
            <div class="container_all">
                <div class="footer_items_box">
                    <div class="footer_items_promo">
                        <h2 class="footer_logo"> <a href="#">BishMeet</a></h2>
                        <p class="footer_text_promo">Bishmeet — это платформа, где пользователи могут находить
                            группы по интересам. Или же
                            создавать самим новые группы.</p>
                        <a href="#">
                            <img class="soc_set" src="{% static 'src/icons/instagram (1).png' %}" alt="instagram">
                        </a>
                        <a href="#">
                            <img class="soc_set" src="{% static 'src/icons/facebook.png' %}" alt="facebook">
                        </a>
                        <a href="#">
                            <img class="soc_set" src="{% static 'src/icons/telegram.png' %}" alt="telegram">
                        </a>

                    </div>


                    <div class="footer_serach_text">
                        <p><a href="#">Найти группы</a></p>
                        <p><a href="#">Создать группу</a></p>

                    </div>

                    <div class="footer_registr_text">
                        <p><a href="sign_up.html">Зарегистрироваться</a></p>
                        <p><a href="come_in.html">Войти </a></p>
                        <p><a href="#">Помощь </a></p>


                    </div>

                    <div class="footer_category_text">
                        <p><a href="#">Группы</a></p>
                        <p><a href="#">Мероприятия </a></p>
                        <p><a href="#">Категории</a></p>
                        <p><a href="#">Города</a></p>
                        <p><a href="#">О нас</a></p>
                    </div>
                </div>




            </div>
            
            <div class="footer_mobile">
                <p class="BishMeet"> © 2020 BishMeet</p>
            </div>



        </footer>




        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

        <script src="{% static 'js/index.js' %}"></script>
</body>

</html>