{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'src/css/come_in.css' %}">
    <title>Document</title>
</head>

<body>



    <div class="come_in">
        <div class="container-fluid">
            <div class="box_flex">
                <div class="box_img">
                    <div class="img_img">
                        <h1>BishMeet</h1>

                    </div>
                </div>

                <div class="sidebar">
                    <h2 class="sidebar_text">Вход </h2>
                    <span>
                        <p>Нет аккаунта? <a href="#">Зарегистрируйтесь</a> </p>
                    </span>


                    <form method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Login</label>
                            <input type="text" name="login" class="form-control" id="exampleInputEmail1"
                                aria-describedby="emailHelp" required>

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Пароль</label>
                            <input type="Password" name="password" class="form-control" id="exampleInputPassword1" required>
                            <small id="emailHelp" class="form-text text-muted"> <a href=""> Забыли пароль?</a>
                            </small>
                        </div>

                        <button type="submit" class="btn btn-primary">Вход</button>
                    </form>

                    <div class="button_group ">
                        <p class="or ">или</p>

                        <ul>
                            <li>
                                <a href="#">
                                    <img class="group_img" src="{% static 'src/images/Google.png' %}" alt="google">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="group_img" src="{% static 'src/images/Facbook.png' %}" alt="google">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img class="group_img" src="{% static 'src/images/Vk.png' %}" alt="google">
                                </a>
                            </li>
                        </ul>




                    </div>
                </div>
            </div>
        </div>
    </div>








    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

</body>

</html>