{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'src/css/notofications.css' %}">
    <title>Document</title>
</head>

<body>



    <div class="registered_user">
        <div class="container_all">
            <div class="menu_user">
                <a href="{% url 'user_page' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
                <a href="{% url 'calendar' %}"><i class="fa fa-calendar-o" aria-hidden="true"></i></a>
                 <a href="{% url 'notifications' %}"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                 <a href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i></a>
 

            </div>
        </div>

        <section class="notifications">
            <div class="container_all">
                <div class="box_notifications">
                    <h2 class="notifications_heading">Уведомления</h2>
                    {% for event in events %}
                    <div class="notifications_event">
                        <div class="logo_event">
                            <img src="{% static 'src/icons/notification_gdg.png' %}" alt="">
                        </div>
                        <div class="box_notifications_event">

                            <p class="notifications_text">В группе<strong> “{{event.title}}”</strong> {{ event.date|date:"d"}} {{event.date|date:"E"}}  состоится новое
                                мероприятие</p>
                            <p class="week_text">{{event.date}}</p>
                        </div>

                    </div>
                    {% endfor %}
                    

                </div>
            </div>
        </section>



        <footer>
            <div class="container_all">
                <div class="footer_items_box">
                    <div class="footer_items_promo">
                        <h2 class="footer_logo"> <a href="#">BishMeet</a></h2>
                        <p class="footer_text_promo">Bishmeet — это платформа, где пользователи могут находить
                            группы по интересам. Или же
                            создавать самим новые группы.</p>
                        <a href="#">
                            <img class="soc_set" src="{% static 'src/icons/instagram (1).png' %}" alt="instagram">
                        </a>
                        <a href="#">
                            <img class="soc_set" src="{% static 'src/icons/facebook.png' %}" alt="facebook">
                        </a>
                        <a href="#">
                            <img class="soc_set" src="{% static 'src/icons/telegram.png' %}" alt="telegram">
                        </a>

                    </div>


                    <div class="footer_serach_text">
                        <p><a href="#">Найти группы</a></p>
                        <p><a href="#">Создать группу</a></p>

                    </div>

                    <div class="footer_registr_text">
                        <p><a href="sign_up.html">Зарегистрироваться</a></p>
                        <p><a href="come_in.html">Войти </a></p>
                        <p><a href="#">Помощь </a></p>


                    </div>

                    <div class="footer_category_text">
                        <p><a href="#">Группы</a></p>
                        <p><a href="#">Мероприятия </a></p>
                        <p><a href="#">Категории</a></p>
                        <p><a href="#">Города</a></p>
                        <p><a href="#">О нас</a></p>
                    </div>
                </div>




            </div>

            <div class="footer_mobile">
                <p class="BishMeet"> © 2020 BishMeet</p>
            </div>



        </footer>













        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

        <script src="{% static 'js/index.js' %}"></script>
</body>

</html>