{% load static %} {% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'src/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'src/css/user.css' %}">
    <title>Document</title>
</head>

<body>

    <div class="registered_user">
        <div class="container_all">
            <div class="menu_user">
                <a href="{% url 'user_page' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
                <a href="{% url 'calendar' %}"><i class="fa fa-calendar-o" aria-hidden="true"></i></a>
                 <a href="{% url 'notifications' %}"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                 <a href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i></a>
 

            </div>
        </div>

        <section class="user">
            <div class="container_all">
                <div class="box_user">
                    <div class="box_heading_text">
                        <h2 class="user_heading">Профиль</h2>
                        <span><a href="{% url 'account_logout' %}">Выйти</a></span>
                    </div>
                    <div class="box_user_data">
                        <div class="user_img">
                            <img src="{{ request.user.profile.photo.url }}" style="max-height: 90px;
                                                                                    max-width: 90px;
                                                                                    margin: 0 auto;
                                                                                    border-radius: 50%;">
                        </div>
                        <div class="box_user_text">
                            <h2 class="user_heading">{{ user.username }}</h2>
                            <span class="user_text"> {{user.email}}</span>
                        </div>

                    </div>

                    <div class="box_data_text">
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                        <p class="user_text">{{ form|crispy}}</p>
                            <a href=""><button type="submit" class="options">Редактировать профиль</button></a>
                        </form>
                    </div>

                    
                </div>
            </div>
        </section>


        <footer>
            <div class="container_all">
              <div class="footer_items_box">
                <div class="footer_items_promo">
                  <h2 class="footer_logo"><a href="#">BishMeet</a></h2>
                  <p class="footer_text_promo">
                    Bishmeet — это платформа, где пользователи могут находить группы
                    по интересам. Или же создавать самим новые группы.
                  </p>
                  <a href="">
                    <img
                      class="soc_set"
                      src="{% static 'src/icons/instagram (1).png' %}"
                      alt="instagram"
                    />
                  </a>
                  <a href="">
                    <img
                      class="soc_set"
                      src="{% static 'src/icons/facebook.png' %}"
                      alt="facebook"
                    />
                  </a>
                  <a href="">
                    <img
                      class="soc_set"
                      src="{% static 'src/icons/telegram.png' %}"
                      alt="telegram"
                    />
                  </a>
                </div>
      
                <div class="footer_serach_text">
                  <p><a href="{% url 'create' %}">Создать группу</a></p>
                </div>
      
                <div class="footer_registr_text">
                  <p><a href="{% url 'account_logout' %}">Выйти </a></p>
                  <p><a href="#">Помощь </a></p>
                </div>
      
                <div class="footer_category_text">
                  <p><a href="{% url 'groups' %}">Группы</a></p>
                  <p><a href="{% url 'events' %}">Мероприятия </a></p>
                  <p><a href="{% url 'home' %}">Категории</a></p>
                  <p><a href="{% url 'home' %}">О нас</a></p>
                </div>
              </div>
            </div>
      
            <div class="footer_mobile">
              <p class="BishMeet">© 2020 BishMeet</p>
            </div>
          </footer>



        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/index.js' %}"></script>
</body>

</html>