{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'src/css/sign_up.css' %}">
    <title>Document</title>
</head>

<body>
    <div class="sign_up">
        <div class="container_all">
            <div class="sign_up_box">

                <div class="enter_img_2">
                    <h2>BishMeet</h2>
                </div>


                <div class="sign_up_sidebar">
                    <div class="container">
                        <h2 class="sign_up_text">Регистрация </h2>
                        <span>
                            <p>Уже есть аккаунт? <a href="#">Войдите</a> </p>
                        </span>


                        <form method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputName">Name</label>
                                <input type="name" name="username" class="form-control" id="exampleInputName"
                                    aria-describedby="emailHelp" required>

                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" name="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp" >

                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" name="password1" class="form-control" id="exampleInputPassword1" required>
                                </small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Con Password</label>
                                <input type="password" name="password2" class="form-control" id="exampleInputPassword1" required>
                                </small>
                            </div>

                            <button type="submit" class="btn btn-primary">Регистрация</button>
                        </form>

                        <div class="button_group ">
                            <p class="or">или</p>
                            <a href="#">
                                <img class="group_img" src="{% static 'src/images/Google.png' %}" alt="google">
                            </a>
                            <a href="#">
                                <img src="{% static 'src/images/Facbook.png' %}" alt="google">
                            </a>
                            <a href="#">
                                <img src="{% static 'src/images/Vk.png' %}" alt="google">
                            </a>

                        </div>

                        <div class="registr_text">
                            <p>Нажав "Регистрация", вы соглашаетесь с <a href="#"> Пользовательским соглашением
                                    BishMeet</a>. Мы будем обращаться с информацией о Вас в соответствии с <a href="#">
                                    Политикой конфиденциальности и Политикой Cookie.</a></p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>










    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>

    <script src="{% static 'index.js' %}"></script>
</body>

</html>