{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'src/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap-reboot.min.css' %}">
    <link rel="stylesheet" href="{% static 'src/css/bootstrap-grid.min.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'src/css/registered_user.css' %}">
    <title>Document</title>
</head>

<body>

    <div class="registered_user">
        <div class="container_all">
            <div class="menu_user">
                <a href="{% url 'user_page' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
                <a href="{% url 'calendar' %}"><i class="fa fa-calendar-o" aria-hidden="true"></i></a>
                <a href="{% url 'notifications' %}"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                <a href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i></a>
    
        
            </div>



            <div class="search">
                <div class="input-group">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button"
                        placeholder=" Поиск групп и мероприятий">
                </div>

            </div>

        </div>

    </div>

    <section class="made_carousel">
        <div class="container_all">
            <div class="box_made_text">
                <h2 class="group_text">Мои группы</h2>
                <span><a href="{% url 'groups' %}">Все </a></span>
            </div>

            <div class="third owl-carousel owl-theme owl-loaded">
                {% for group in groups %}
                <div>
                    <div class="box_carousel">
                        <div class="box_info_carousel">
                            <img class="logo_carousel" src="{{group.image.url}}" alt="">
                            <h2 class="carousel_text"><a class="tag_a" href="{{group.get_absolute_url}}">{{group.title}}</a></h2>
                            <span class="info_text"><a class="tag_a" href="#">{{group.members.count}} участников</a></span>

                        </div>

                    </div>
                </div>
               {% endfor %}
            </div>



        </div>



        <a href="{% url 'create' %}"><button class="btn_made_group"> + Создать группу</button></a>

        <div class="box_made_text">
            <h2 class="group_text">Мои мероприятия</h2>
            <span><a href="{% url 'events' %}">Все </a></span>
        </div>

        <div class="fourth owl-carousel owl-theme owl-loaded">
            {% for event in events %}
            <div>
                
                <div class="activity_carousel">
                    <div class="box_activity_carousel">
                        <div class="box_info_activity">
                            <span class="info_text">{{event.date}}</span>
                            <h2 class="carousel_text">{{event.title}}</h2>
                            <span class="info_text">{{event.group.category}}</span>
                            <p class="info_text">{{event.members.count}} участников </p>

                        </div>
                    </div>
                </div>
            </div>
           {% endfor %}
        </div>






        <div class="box_made_text">
            <h2 class="group_text">Рекомендуемые<br class="broken"> мероприятия</h2>
            <span><a href="#">Все </a></span>
        </div>




        <div class="fifth owl-carousel owl-theme owl-loaded">
            {% for recommendation in recommendations %}
            <div>
                
                <div class="recomend_carousel">
                    <div class="box_recomend_carousel">
                        <div class="box_info_recomend">
                            <span class="info_text">{{recommendation.date}}</span>
                            <h2 class="carousel_text">{{recommendation.title}}</h2>
                            <span class="info_text">{{recommendation.group.category}}</span>
                            <span class="box_recomend_btn">
                                <p class="info_text">{{recommendation.members.count}} участников </p>
                                <a href="{% url 'event_detail' recommendation.id %}"><button> Посетить</button></a>
                            </span>

                        </div>

                    </div>
                </div>
                
            </div>
            {% endfor %}
        </div>


        </div>
    </section>

    <footer>
        <div class="container_all">
            <div class="footer_items_box">
                <div class="footer_items_promo">
                    <h2 class="footer_logo"> <a href="#">BishMeet</a></h2>
                    <p class="footer_text_promo">Bishmeet — это платформа, где пользователи могут находить
                        группы по интересам. Или же
                        создавать самим новые группы.</p>
                    <a href="#">
                        <img class="soc_set" src="{% static 'src/icons/instagram (1).png' %}" alt="instagram">
                    </a>
                    <a href="#">
                        <img class="soc_set" src="{% static 'src/icons/facebook.png' %}" alt="facebook">
                    </a>
                    <a href="#">
                        <img class="soc_set" src="{% static 'src/icons/telegram.png' %}" alt="telegram">
                    </a>

                </div>


                <div class="footer_serach_text">
                    <p><a href="#">Найти группы</a></p>
                    <p><a href="#">Создать группу</a></p>

                </div>

                <div class="footer_registr_text">
                    <p><a href="sign_up.html">Зарегистрироваться</a></p>
                    <p><a href="come_in.html">Войти </a></p>
                    <p><a href="#">Помощь </a></p>


                </div>

                <div class="footer_category_text">
                    <p><a href="#">Группы</a></p>
                    <p><a href="#">Мероприятия </a></p>
                    <p><a href="#">Категории</a></p>
                    <p><a href="#">Города</a></p>
                    <p><a href="#">О нас</a></p>
                </div>
            </div>




        </div>
        <div class="footer_mobile">
            <p class="BishMeet"> © 2020 BishMeet</p>
        </div>




    </footer>




    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>

    <script src="{% static 'js/index.js' %}"></script>
</body>

</html>