<h1>{{ group.title }}</h1>
<p>{{group.categories}}</p>
<div>
    <p>{{group.description}}</p>
</div>
<img src="{{group.image.url}}" alt="">
{% for image in images %}
    <img src="{{image.image.url}}" alt="">
{% endfor %}

<h2>Member Count: {{group.members.count }}</h2>

<div class="content">
  {% if user in group.members.all %}

    <a href="{% url 'leave' id=group.id slug=group.slug %}" class="btn btn-lg btn-fill btn-warning"><i class="fas fa-sign-out-alt"></i>  Leave Group</a>


    {% else %}

    <a href="{% url 'join' id=group.id slug=group.slug %}"
    class="btn btn-lg btn-fill btn-warning"><i
    class="icon-ok-circle"></i>Join</a>
    {% endif %}

</div>
{{ discussions.count }}
{% for discussion in discussions %}
    <div class="card-comment">
        <p>{{ discussion.user }}. <small>{{ discussion.text }}</small></p>

    </div>
{% endfor %}
<hr/>
    <form method='POST'>
        {% csrf_token %}
        <input type="text" name="text">
        <input type="submit" value="Add" class="btn btn-outline-dark">
    </form>
</div>