{% load static %} {% load thumbnail %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>BishMeet</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="{% static 'img/favicon.ico' %}"
    />

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>

  <body>

    <header>
      <!-- Header Start -->
      <div class="header-area header-transparrent">
        <div class="main-header header-sticky">
          <div class="container">
            <div class="row align-items-center">
              <!-- Logo -->
              <div class="col-xl-2 col-lg-2 col-md-1">
                <div class="logo">
                  <a href="{% url 'home' %}"
                    ><img src="{% static 'img/logo/logo.png' %}" alt=""
                  /></a>
                </div>
              </div>
              <div class="col-xl-8 col-lg-8 col-md-8">
                <!-- Main-menu -->
                <div class="main-menu f-right d-none d-lg-block">
                  <nav>
                    <ul id="navigation">
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="#about">About Us</a></li>
                      <li><a href="{% url 'groups' %}">Groups</a></li>
                      <li><a href="{% url 'events' %}">Events</a></li>
                      <li>
                        <a href="">R or L</a>
                        <ul class="submenu">
                          {% if request.user.is_authenticated %}
                          
                          <li>
                            <a href="{% url 'account_logout' %}">Log Out</a>
                          </li>
                          <li>
                            <a href="{% url 'profile' %}">Profile</a>
                          </li>
                          {% else %}
                          <li>
                            <a href="{% url 'account_login' %}">Sign In</a>
                          </li>
                          <li>
                            <a href="{% url 'account_signup' %}">Sign Up</a>
                          </li>
                          {% endif %}
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-3">
                <div class="header-right-btn f-right d-none d-lg-block">
                  <a href="{% url 'create' %}" class="btn header-btn"
                    >Get started</a
                  >
                </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header End -->
    </header>

    <main>
      <!-- Slider Area Start-->
      <div class="slider-area">
        <div class="slider-active">
          <div
            class="single-slider slider-height d-flex align-items-center"
            data-background="{% static 'img/hero/h1_hero.png' %}"
          >
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-lg-7 col-md-9">
                  <div class="hero__caption">
                    <h1 data-animation="fadeInLeft" data-delay=".4s">
                      The real world is calling
                    </h1>
                    <p data-animation="fadeInLeft" data-delay=".6s">
                      Join a local group to meet people, try something new, or
                      do more of what you love.
                    </p>
                    <!-- Hero-btn -->
                    <div
                      class="hero__btn"
                      data-animation="fadeInLeft"
                      data-delay=".8s"
                    >
                      
                      <a href="{% url 'groups' %}" class="btn hero-btn"
                        >Join meetUp</a
                      >
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div
            class="single-slider slider-height d-flex align-items-center"
            data-background="{% static 'img/hero/h1_hero.png' %}"
          >
            <div class="container">
              <div class="row d-flex align-items-center">
                <div class="col-lg-7 col-md-9">
                  <div class="hero__caption">
                    <h1 data-animation="fadeInLeft" data-delay=".4s">
                      The real world is calling
                    </h1>
                    <p data-animation="fadeInLeft" data-delay=".6s">
                      Join a local group to meet people, try something new, or
                      do more of what you love.
                    </p>
                    <!-- Hero-btn -->
                    <div
                      class="hero__btn"
                      data-animation="fadeInLeft"
                      data-delay=".8s"
                    >
                      <a href="{% url 'account_signup' %}" class="btn hero-btn"
                        >Join meetUp</a
                      >
                    </div>
                  </div>
                </div>
                <div class="col-lg-5">
                  <div
                    class="hero__img d-none d-lg-block"
                    data-animation="fadeInRight"
                    data-delay="1s"
                  >
                    <img src="{% static 'img/hero/hero_right.png' %}" alt="" />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Slider Area End-->

      <!-- Testimonial Start -->
      <div class="testimonial-area">
        <div class="container">
          <div class="testimonial-main">
            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
              <div class="col-lg-5 col-md-8 pr-0">
                <div class="section-tittle text-center">
                  <h2><a  name="about"></a> Purpose and scope</h2>
                </div>
              </div>
            </div>
            <div class="row d-flex justify-content-center">
              <div class="col-lg-10 col-md-9">
                <div class="h1-testimonial-active">
                  <!-- Single Testimonial -->
                  <div class="single-testimonial text-center">
                    <div class="testimonial-caption">
                      <div class="testimonial-top-cap">
                        <p>
                          Bishmeet - This is a platform where users can find
                          interest groups (to meet new people, try something
                          new).
                        </p>
                      </div>
                      <!-- founder -->
                      <div
                        class="testimonial-founder d-flex align-items-center justify-content-center"
                      ></div>
                    </div>
                  </div>
                  <!-- Single Testimonial -->
                  <div class="single-testimonial text-center">
                    <div class="testimonial-caption">
                      <div class="testimonial-top-cap">
                        <p>
                          Or create new groups yourself (in order to collect
                          your like-minded people).
                        </p>
                      </div>
                      <!-- founder -->
                      <div
                        class="testimonial-founder d-flex align-items-center justify-content-center"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Testimonial End -->
      <!-- Tips Triks Start -->
      <div class="tips-triks-area">
        <div class="container">
          <!-- Section-tittle -->
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8 pr-0">
              <div class="section-tittle text-center">
                <h2>
                  Groups near you
                  <p>
                    Find groups that get together to do the things they love.
                  </p>
                  <p>
                    <a href="{% url 'groups' %}" class="genric-btn link-border"
                      >See All</a
                    >
                  </p>
                </h2>
              </div>
            </div>
          </div>
          <div class="row">
            {% for group in groups %}
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="single-tips mb-50">
                <div class="tips-img">
                  {% thumbnail group.image "300x300" crop="100%" as img %}
                  <img src="{{img.url}}" alt="" />
                  {% endthumbnail %}
                </div>
                <div class="tips-caption">
                  <h4>
                    <a href="{{ group.get_absolute_url }}">{{group.title}}</a>
                  </h4>
                  <span>{{group.category}}</span>
                  <p>{{group.members.count }} - Members</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Tips Triks End -->
      <!-- What We do start-->
      <div class="what-we-do">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-lg-6 col-md-8 pr-0">
              <div class="section-tittle text-center">
                <h2>
                  Events
                  <p><a href="{% url 'events' %}" class="genric-btn link-border">See All</a></p>
                </h2>
              </div>
            </div>
            <div class="row">
              {% for event in events %}
              <div class="col-lg-4 col-md-6">
                <div class="single-do text-center mb-30">
                  <div class="do-icon">
                    {% thumbnail event.image "90x90" crop="100%" as img %}
                    <img src="{{img.url}}" alt="post" />
                    {% endthumbnail %}
                  </div>
                  <div class="do-caption">
                    <h4>{{event.title}}</h4>
                    <p>{{event.description|truncatechars:45}}</p>
                  </div>
                  <div class="do-btn">
                    <a href="{% url 'event_detail' event.id %}"
                      ><i class="ti-arrow-right"></i>Past event</a
                    >
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Visit Stuffs Start -->
        <div class="visit-area fix">
          <div class="container">
            <!-- Section-tittle -->
            <div class="row d-flex justify-content-center">
              <div class="col-lg-6 pr-0">
                <div class="section-tittle text-center">
                  <h2>
                    Categories
                    <p>Browse groups by topics you're interested in.</p>
                  </h2>
                </div>
              </div>
            </div>
            <div class="container-fluid p-0">
              <div class="row">
                {% for c in categories %} <div {% if category.slug == c.slug %}
                {% endif %} class="col-lg-3 col-md-1">
                <a href="{{ c.get_absolute_url }}">
                  <div class="single-visited mb-30">
                    <div class="visited-img">
                      {% thumbnail c.image "300x300" crop="100%" as img %}
                      <img src="{{img.url}}" alt="" />
                      {% endthumbnail %}
                    </div>
                    <div class="visited-cap">
                      <h5>{{ c.title }}</h5>
                    </div>
                  </div>
                </a>
              </div>

              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <!-- Visit Stuffs Start -->
      <!-- Generating Start -->
      <div class="generating-area">
        <div class="container">
          <!-- Section-tittle -->
          <div class="row d-flex justify-content-center">
            <div class="col-lg-8">
              <div class="section-tittle text-center">
                <h2>How Meetup Works​​</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="single-generating d-flex mb-30">
                <div class="generating-icon">
                  <span class="flaticon-chart"></span>
                </div>
                <div class="generating-cap">
                  <h4>Discover groups</h4>
                  <p>
                    See who’s hosting local events for all the things you love.
                  </p>
                  <h5><a href="{% url 'groups' %}">Join Meetup</a></h5>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="single-generating d-flex mb-30">
                <div class="generating-icon">
                  <span class="flaticon-social-media-marketing"></span>
                </div>
                <div class="generating-cap">
                  <h4>Start a group</h4>
                  <p>
                    Create your own Meetup group, and draw from a community of
                    millions.
                  </p>
                  <h5><a href="{% url 'create' %}">Get Started</a></h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Generating End -->
    </main>
    <footer>
      <!-- Footer Start-->
      <div
        class="footer-main"
        data-background="{% static 'img/shape/footer_bg.png' %}"
      >
        <div class="footer-area footer-padding">
          <div class="container">
            <div class="row d-flex justify-content-between">
              <div class="col-lg-3 col-md-4 col-sm-8">
                <div class="single-footer-caption mb-50">
                  <div class="single-footer-caption mb-30">
                    <!-- logo -->
                    <div class="footer-logo">
                      <a href="index.html"
                        ><img
                          src="{% static 'img/logo/logo2_footer.png' %}"
                          alt=""
                      /></a>
                    </div>
                    <div class="footer-tittle">
                      <div class="footer-pera">
                        <p class="info1">
                          221B Baker Street, P.O Box 353 Park <br />
                          Road, USA - 215431
                        </p>
                        <p class="info2">info@yourdomain.com</p>
                      </div>
                    </div>
                    <div class="footer-social">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fas fa-globe"></i></a>
                      <a href="#"><i class="fab fa-behance"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Quick Links</h4>
                    <ul>
                      <li><a href="about.html">About</a></li>
                      <li><a href="about.html">Features</a></li>
                      <li><a href="single-blog.html">Pricing</a></li>
                      <li><a href="blog.html">Blog</a></li>
                      <li><a href="contact.html">Contact</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-7">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Support</h4>
                    <ul>
                      <li><a href="#">Privacy Policy</a></li>
                      <li><a href="#">Terms & Conditions</a></li>
                      <li><a href="#"> Sitemap</a></li>
                      <li><a href="#">FAQs</a></li>
                      <li><a href="#">Report a bugb</a></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-3 col-md-4 col-sm-5">
                <div class="single-footer-caption mb-50">
                  <div class="footer-tittle">
                    <h4>Core Features</h4>
                    <ul>
                      <li><a href="#">Email Marketing</a></li>
                      <li><a href="#"> Offline SEO</a></li>
                      <li><a href="#">Social Media Marketing</a></li>
                      <li><a href="#">Lead Generation</a></li>
                      <li><a href="#"> 24/7 Support</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer-bottom aera -->
        <div class="footer-bottom-area footer-bg">
          <div class="container">
            <div class="footer-border">
              <div class="row d-flex align-items-center">
                <div class="col-xl-12">
                  <div class="footer-copy-right text-center">
                    <p>
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                      Copyright &copy;
                      <script>
                        document.write(new Date().getFullYear());
                      </script>
                      All rights reserved | This template is made with
                      <i class="ti-heart" aria-hidden="true"></i> by
                      <a href="https://colorlib.com" target="_blank"
                        >Colorlib</a
                      >
                      <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Footer End-->
    </footer>
    <script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/gijgo.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/animated.headline.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'js/mail-script.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
</html>
