{% load static %} {% load thumbnail %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SEO HTML-5 Template </title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- CSS here -->
  <link rel="stylesheet" href="{% static 'sec/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/slicknav.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/responsive.css' %}">
</head>

<body>

  

   <header>
      <!-- Header Start -->
     <div class="header-area header-transparrent ">
          <div class="main-header header-sticky">
              <div class="container">
                  <div class="row align-items-center">
                      
                      <div class="col-xl-8 col-lg-8 col-md-8">
                          <!-- Main-menu -->
                          <div class="main-menu f-right d-none d-lg-block">
                              <nav> 
                                  <ul id="navigation">    
                                    <li><a href="{% url 'home' %}">Home</a></li></li>
                                    {% if request.user in group.administration.all %}
                                    <li><a href="{% url 'update' group.id %}">Update Group</a></li>
                                    <li><a href="{% url 'event' group.id %}">Event Create</a></li>
                                    {% endif %}
                                    
                                  </ul>
                              </nav>
                          </div>
                      </div>             
                      <div class="col-xl-2 col-lg-2 col-md-3">
                          <div class="header-right-btn f-right d-none d-lg-block">
                           {% if request.user.is_authenticated %}
                           <form action="{% url 'join'  %}" method="POST">
                              {% csrf_token %}
                              <input type="hidden" name="group_id" value="{{ group.id }}">

                              {% if user not in group.members.all %}
                                 <button type="submit" class="btn header-btn">Join</button>
                              {% else %}
                                 <button type="submit" class="btn header-btn">Leave</button>
                              {% endif %}
                              </form>
                           {% endif %}
                           </div>
                      </div>
                      <!-- Mobile Menu -->
                      <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                      </div>
                  </div>
              </div>
          </div>
     </div>
      <!-- Header End -->
  </header>

     
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{{group.image.url}}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{ group.title }}</h2>
                     
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i>{{group.admin}}</a></li>
                        <li><a href=""><i class="fa fa-users"></i>{{group.members.count }} Members</a></li>
         
                     </ul>
                     <p class="excert">
                        {{group.description}}
                     </p>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     
                     <ul class="social-icons">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fab fa-behance"></i></a></li>
                     </ul>
                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        
                    
                        
                     </div>
                  </div>
                 
               </div>
              
            </div>
            
            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  
                 
                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Events</h3>
                     {% for e in event %}
                     <div class="media post_item">
                        {% thumbnail e.image "90x90" crop="100%" as img %}
                        <img src="{{img.url}}" alt="post" />
                        {% endthumbnail %}
                        <div class="media-body">
                           <a href="{% url 'event_detail' e.id %}">
                              <h3>{{e.title}}</h3>
                           </a>
                           <p>{{e.date}}</p>
                        </div>
                     </div>
                     {% endfor %}
                     
                  </aside>
                 
                 
                 
               </div>
               <div class="blog_right_sidebar">
                  
                 
                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Members</h3>
                     {% for member in members %}
                     <div class="media post_item">
                        <div class="media-body">
                           <form action="{% url 'share' %}" method="POST">
                           {% csrf_token %}
                           <input type="hidden" name="group_id" value="{{ group.id }}">
                           <input type="hidden" name="user_id" value="{{member.id}}"><h3>{{member.user.username}}</h3>
                           {% if request.user in group.administration.all %}
                           {% if member not in group.administration.all %}
                              <button type="submit" class="btn-outline-danger">add</button>
                           {% else %}
                              <button type="submit" class="btn-outline-dark">remove</button>
                           {% endif %}
                           {% endif %}
                        </form>
                        </div>
                     </div>
                     
        
                        
                     {% endfor %}
                     
                  </aside>
                 
                 
                 
               </div>
            </div>

            
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->

 
	
		<!-- All JS Custom Plugins Link Here here -->
      <script src="{% static 'sec/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<script src="{% static 'sec/js/vendor/jquery-1.12.4.min.js' %}"></script>
      <script src="{% static 'sec/js/popper.min.js' %}"></script>
      <script src="{% static 'sec/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'sec/js/jquery.slicknav.min.js' %}"></script>
      <script src="{% static 'sec/js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'sec/js/slick.min.js' %}"></script>
      <script src="{% static 'sec/js/gijgo.min.js' %}"></script>
      <script src="{% static 'sec/js/wow.min.js' %}"></script>
		<script src="{% static 'sec/js/animated.headline.js' %}"></script>
      <script src="{% static 'sec/js/jquery.magnific-popup.js' %}"></script>
      <script src="{% static 'sec/js/jquery.scrollUp.min.js' %}"></script>
      <script src="{% static 'sec/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'sec/js/jquery.sticky.js' %}"></script>
      <script src="{% static 'sec/js/contact.js' %}"></script>
      <script src="{% static 'sec/js/jquery.form.js' %}"></script>
      <script src="{% static 'sec/js/jquery.validate.min.js' %}"></script>
      <script src="{% static 'sec/js/mail-script.js' %}"></script>
      <script src="{% static 'sec/js/jquery.ajaxchimp.min.js' %}"></script>
      <script src="{% static 'sec/js/plugins.js' %}"></script>
      <script src="{% static 'sec/js/main.js' %}"></script>
        

</body>

</html>