{% load static %} {% load thumbnail %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="{% static 'src/css/owl.carousel.min.css' %}" />
    <link
      rel="stylesheet"
      href="{% static 'src/css/owl.theme.default.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'src/css/bootstrap-reboot.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="{% static 'src/css/bootstrap-grid.min.css' %}"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'src/css/style.css' %}" />
    <title>Bishmeet</title>
  </head>

  <body>
    <!-- modal window -->
    <div class="modal_gamburger">
      <div class="container">
        <div class="box_all">
          <div class="box_modal">
            <p><span data-cloze class="close">&times;</span></p>
          </div>

        
          {% if request.user.is_authenticated %}
          <h6 class="list_items"><a href="{% url 'account_logout' %}"> Выйти</a></h6>
          <h6 class="list_items"><a href="{% url 'profile' %}"> Зайти в профиль</a> </h6>
          {% else %}
          <h6 class="list_items"><a href="{% url 'account_login' %}"> Войти</a></h6>
          <h6 class="list_items"><a href="{% url 'account_signup' %}"> Зарегистрироваться</a> </h6>
          {% endif %}
          <hr class="line_category mt-3 mb-3" />
          <h6 class="list_items"><a href="{% url 'events' %}">Мероприятия</a></h6>
          <h6 class="list_items"><a href="{% url 'groups' %}">Группы</a></h6>
        </div>
      </div>
    </div>

    <!-- header for mobile -->
    <div class="mobile">
      <div class="container_all">
        <div class="gamburger_menu_mobile">
          <img
            data-mobile
            class="gamburger_img"
            src="{% static 'src/icons/gamburger_menu.png' %}"
            alt="menu"
          />
          <h2 class="logo_text_mobile"><a href="{% url 'home' %}">BishMeet</a></h2>
          {% if request.user.is_authenticated %}
          <span class="menu_text_mobile"><a href="{% url 'account_logout' %}">Выйти</a></span>
          {% else %}
          <span class="menu_text_mobile"><a href="{% url 'account_login' %}">Войти</a></span>
          {% endif %}
        </div>
      </div>
    </div>

    <header class="header_menu">
      <div class="container_all">
        <div class="menu">
          <h2 class="logo_text"><a href="{% url 'home' %}">BishMeet</a></h2>
          <div class="box_menu">
            <ul class="menu_items menu_2">
              <li class="menu_items_text"><a href="{% url 'groups' %}">Группы</a></li>
              <li class="menu_items_text"><a href="{% url 'events' %}">Мероприятия</a></li>
            </ul>

            <ul class="menu_items">
              {% if request.user.is_authenticated %}
              <li class="menu_items_text"><a href="{% url 'account_logout' %}">Выйти</a></li>
              <li class="menu_items_text">
                <a href="{% url 'profile' %}">Зайти в профиль</a>
              {% else %}
              <li class="menu_items_text"><a href="{% url 'account_login' %}">Войти</a></li>
              <li class="menu_items_text">
                <a href="{% url 'account_signup' %}">Зарегистрироваться</a>
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section class="promo">
      <div class="container_all">
        <div class="box_promo">
          <h1 class="promo_first_text">Вступайте в группы</h1>
          <p class="promo_text_item">
            Чтобы знакомиться с людьми, пробовать новое и заниматься тем,
            <br class="break" />что вы любите.
          </p>
          <div class="for_btn">
            <a href="{% url 'groups' %}"><button type="button" class="btn btn-outline-primary">
              Вступить в группу
            </button></a>
            <a href="{% url 'create' %}"><button type="button" class="btn btn-outline-primary">
              Создать группу
            </button></a>
          </div>
        </div>
      </div>
    </section>

    <section class="promo_info">
      <div class="container-fluid">
        <div class="box_promo_info">
          <a name='about'><h2 class="promo_second_text">Как работает Bishmeet</h2></a>
          <div class="promo_info_box mt-4">
            <div class="box_info_1">
              <div class="box_img">
                <img
                  class="promo_img_lupa mt-2"
                  src="{% static 'src/icons/lupa_blue_2.png' %}"
                  alt="lupa"
                />
              </div>

              <div class="box_text">
                <h2 class="promo_find_text">Находите группы</h2>
                <p class="promo_text_info">
                  Узнайте, кто проводит мероприятия, посвященные вашим любимым
                  <br />
                  темам.
                </p>
              </div>

              <div class="box_com">
                <a href="#category"
                  ><img
                    class="get_in"
                    src="{% static 'src/icons/str.png' %}"
                    alt="str"
                  />
                </a>
              </div>
            </div>

            <div class="box_info_2">
              <div class="box_img">
                <img
                  class="promo_img_pluse mt-2"
                  src="{% static 'src/icons/pluse (1).png' %}"
                  alt="plus"
                />
              </div>

              <div class="box_text_2">
                <h2 class="promo_find_text">Создавайте группы</h2>
                <p class="promo_text_info">
                  Создав собственную группу, вы сможете приглашать людей из<br />
                  многомиллионного сообщества.
                </p>
              </div>

              <div class="box_com">
                <a href="{% url 'create' %}"
                  ><img
                    class="get_in mr-4"
                    src="{% static 'src/icons/str.png' %}"
                    alt="str"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="promo_slider">
      <div class="container_all">
          <div class="promo_text_slider">
              <h2 class="activity ">Мероприятия</h2>
              <p class="activity_text"><a href="{% url 'events' %}">Показать все </a></p>
          </div>

          <div class="first owl-carousel owl-theme owl-loaded">
              {% for event in events %}
              <div>
                  <div class="card ">
                      <div class="card-body">
                          <h5 class="card-title">{{event.date}}</h5>
                          <h5 class="card-title">-----</h5>
                          <h4 class="card-title">-{{event.title}}</h4>

                          <p class="card-text">-{{event.group.category}}</p>
                          <p class="card-title-text">{{event.members.count}} участников</p>

                          <a href="{% url 'event_detail' event.id %}" class="btn_card btn btn-primary">Посетить</a>
                      </div>
                  </div>
              </div>
              {% endfor %}
              
      </div>


      </div>
  </section>

  <section class="promo_slider">
    <div class="container_all">
        <div class="promo_text_slider">
            <h2 class="activity ">Группы</h2>
            <p class="activity_text"><a href="{% url 'groups' %}">Показать все </a></p>
        </div>

        <div class="second owl-carousel owl-theme owl-loaded">
            {% for group in groups %}
            <div>
                <div class="second_card">
                    <div class="card_GDG_img">
                      
                  {% thumbnail group.image "300x300" crop="100%" as img %}
                        <img class="GDG_img" src="{{img.url}}" alt="GDG">
                        
                  {% endthumbnail %}
                    </div>
                    <div class="info_text">
                        <h5 class="card-title-text GDG_text">{{group.category}}</h5>
                        <h4 class=""><a class="GDG_text" href="{{ group.get_absolute_url }}">{{group.title}}</a></h4>
                        <p class="card-text"><a class="GDG_text" href="#">Предстоящих мероприятий: {{group.event.count}}</a></p>
                        <p class="card_text"><a class="GDG_text" href="#"> {{group.members.count}} участников</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>



    </div>
    </section>

    <section class="category">
      <div class="container_all">
        <a name="category"><h2 class="" >Категории</h2></a>
        <div class="category_items">
          <ul class="items_btn">
            {% for category in categories %}
            <li>
              <a href="{{ category.get_absolute_url }}"><button class="category_btn">{{category.title}}</button></a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </section>

    <footer>
      <div class="container_all">
        <div class="footer_items_box">
          <div class="footer_items_promo">
            <h2 class="footer_logo"><a href="#">BishMeet</a></h2>
            <p class="footer_text_promo">
              Bishmeet — это платформа, где пользователи могут находить группы
              по интересам. Или же создавать самим новые группы.
            </p>
            <a href="">
              <img
                class="soc_set"
                src="{% static 'src/icons/instagram (1).png' %}"
                alt="instagram"
              />
            </a>
            <a href="">
              <img
                class="soc_set"
                src="{% static 'src/icons/facebook.png' %}"
                alt="facebook"
              />
            </a>
            <a href="">
              <img
                class="soc_set"
                src="{% static 'src/icons/telegram.png' %}"
                alt="telegram"
              />
            </a>
          </div>

          <div class="footer_serach_text">
            <p><a href="#category">Найти группы</a></p>
            <p><a href="{% url 'create' %}">Создать группу</a></p>
          </div>

          <div class="footer_registr_text">
            <p><a href="{% url 'account_signup' %}">Зарегистрироваться</a></p>
            <p><a href="{% url 'account_login' %}">Войти </a></p>
            <p><a href="#">Помощь </a></p>
          </div>

          <div class="footer_category_text">
            <p><a href="{% url 'groups' %}">Группы</a></p>
            <p><a href="{% url 'events' %}">Мероприятия </a></p>
            <p><a href="#category">Категории</a></p>
            <p><a href="#about">О нас</a></p>
          </div>
        </div>
      </div>

      <div class="footer_mobile">
        <p class="BishMeet">© 2020 BishMeet</p>
      </div>
    </footer>

    <script
      src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
      crossorigin="anonymous"
    ></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
  </body>
</html>
