{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Create Event</h1>
          <hr class="mt-0 mb-4" />
          <form method="post" enctype="multipart/form-data">
            {% csrf_token %} {{formset|crispy }}
            <button type="submit" class="btn btn-outline-dark">Create</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      $(function() {
        $( ".date_picker" ).datepicker();
      });
    </script>
   </body>
</html>
