{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
<p>Are you sure you want to delete "{{ event }}"?</p>
<form action="{% url 'event_delete' event.id %}" method="POST">
  {% csrf_token %}
  <a class="btn btn-warning" href="{% url 'groups' %}">Cancel</a>
  <input class="btn btn-danger" type="submit" name="Confirm" />
</form>
</body>
</html>