{% load static %} {% load thumbnail %}
<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>SEO HTML-5 Template </title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

  
  <!-- CSS here -->
  <link rel="stylesheet" href="{% static 'sec/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/slicknav.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/animate.min.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/magnific-popup.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/fontawesome-all.min.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/slick.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/nice-select.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'sec/css/responsive.css' %}">
</head>

<body>


   <header>
      <!-- Header Start -->
     <div class="header-area header-transparrent ">
          <div class="main-header header-sticky">
              <div class="container">
                  <div class="row align-items-center">
                      <!-- Logo -->
                     
                      <div class="col-xl-8 col-lg-8 col-md-8">
                          <!-- Main-menu -->
                          <div class="main-menu f-right d-none d-lg-block">
                              <nav> 
                                  <ul id="navigation">    
                                    <li><a href="{% url 'home' %}">Home</a></li></li>
                                    {% if request.user in event.group.administration.all %}
                                    <li><a href="{% url 'event_delete' event.id %}">Delete Event</a></li>
                                    <li><a href="{% url 'event_update' event.id %}">Update Event</a></li>
                                    {% endif %}
                                    <li><a href="">R or L</a>
                                        <ul class="submenu">
                                            <li><a href="{% url 'account_login' %}">Sign In</a></li>
                                            <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
                                            <li><a href="{% url 'account_logout' %}">Log Out</a></li>
                                        </ul>
                                    </li>
                                  </ul>
                              </nav>
                          </div>
                      </div>             
                      <div class="col-xl-2 col-lg-2 col-md-3">
                        <div class="header-right-btn f-right d-none d-lg-block">
                        
                        <form action="{% url 'visit'  %}" method="POST">
                           {% csrf_token %}
                           <input type="hidden" name="event_id" value="{{ event.id }}">

                         {% if user not in event.members.all %}
                           <button type="submit" class="btn header-btn">attent</button>
                         {% else %}
                           <button type="submit" class="btn header-btn">not going</button>
                         {% endif %}
                        </form>
                        
                         </div>
                    </div>
                      <!-- Mobile Menu -->
                      <div class="col-12">
                          <div class="mobile_menu d-block d-lg-none"></div>
                      </div>
                  </div>
              </div>
          </div>
     </div>
      <!-- Header End -->
  </header>

     
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{{event.image.url}}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>{{ event.title }}</h2>
                     
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a><i class="fa fa-user"></i>{{event.group.admin}}</a></li>
                        <li><a>{{event.date}}</a></li>
                        <li><a>{{event.place}}</a></li>
                     </ul>
                     <p class="excert">
                        {{event.description}}
                     </p>
                  </div>
               </div>
               
               <div class="col-lg-4">
                  <div class="blog_right_sidebar">
                     
                    
                     <aside class="single_sidebar_widget popular_post_widget">
                        {% if request.user in event.group.administration.all %}
                        <h3 class="widget_title"><a href="{% url 'send' event.id %}">To remind</a></h3>
                        {% endif %}
                        <h3 class="widget_title">Members</h3>
                        {% for member in members %}
                        <div class="media post_item">
                           <div class="media-body">
                                 <h3>{{member.user.username}}</h3>
                              </a>
                           </div>
                        </div>
                        {% endfor %}
                        
                     </aside>
                    
                    
                    
                  </div>
               </div>
            

         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->

 
	
		<!-- All JS Custom Plugins Link Here here -->
      <script src="{% static 'sec/js/vendor/modernizr-3.5.0.min.js' %}"></script>
		<script src="{% static 'sec/js/vendor/jquery-1.12.4.min.js' %}"></script>
      <script src="{% static 'sec/js/popper.min.js' %}"></script>
      <script src="{% static 'sec/js/bootstrap.min.js' %}"></script>
      <script src="{% static 'sec/js/jquery.slicknav.min.js' %}"></script>
      <script src="{% static 'sec/js/owl.carousel.min.js' %}"></script>
      <script src="{% static 'sec/js/slick.min.js' %}"></script>
      <script src="{% static 'sec/js/gijgo.min.js' %}"></script>
      <script src="{% static 'sec/js/wow.min.js' %}"></script>
		<script src="{% static 'sec/js/animated.headline.js' %}"></script>
      <script src="{% static 'sec/js/jquery.magnific-popup.js' %}"></script>
      <script src="{% static 'sec/js/jquery.scrollUp.min.js' %}"></script>
      <script src="{% static 'sec/js/jquery.nice-select.min.js' %}"></script>
		<script src="{% static 'sec/js/jquery.sticky.js' %}"></script>
      <script src="{% static 'sec/js/contact.js' %}"></script>
      <script src="{% static 'sec/js/jquery.form.js' %}"></script>
      <script src="{% static 'sec/js/jquery.validate.min.js' %}"></script>
      <script src="{% static 'sec/js/mail-script.js' %}"></script>
      <script src="{% static 'sec/js/jquery.ajaxchimp.min.js' %}"></script>
      <script src="{% static 'sec/js/plugins.js' %}"></script>
      <script src="{% static 'sec/js/main.js' %}"></script>
        

</body>

</html>