{% load static %} {% load thumbnail %}
<!DOCTYPE html>
<html class="no-js" lang="zxx">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>BishMeet</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'sec/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'sec/css/owl.carousel.min.css' %}" />
    <link rel="stylesheet" href="{% static 'sec/css/flaticon.css' %}" />
    <link rel="stylesheet" href="{% static 'sec/css/slicknav.css' %}" />
    <link rel="stylesheet" href="{% static 'sec/css/animate.min.css' %}" />
    <link rel="stylesheet" href="{% static 'sec/css/magnific-popup.css' %}" />
    <link rel="stylesheet" href="{% static 'sec/css/fontawesome-all.min.css' %}" />
    <link rel="stylesheet" href="{% static 'sec/css/themify-icons.css' %}" />
    <link rel="stylesheet" href="{% static 'sec/css/slick.css' %}" />
    <link rel="stylesheet" href="{% static 'sec/css/nice-select.css' %}" />
    <link rel="stylesheet" href="{% static 'sec/css/style.css' %}" />
  </head>

  <body>
    <header>
      <!-- Header Start -->
      <div class="header-area header-transparrent">
        <div class="main-header header-sticky">
          <div class="container">
            <div class="row align-items-center">
              <!-- Logo -->
             
              <div class="col-xl-8 col-lg-8 col-md-8">
                <!-- Main-menu -->
                <div class="main-menu f-right d-none d-lg-block">
                  <nav>
                    <ul id="navigation">
                      <li><a href="{% url 'home' %}">Home</a></li>
                      <li><a href="{% url 'groups' %}">Groups</a></li>
                      <li>
                        <a href="">R or L</a>
                        <ul class="submenu">
                          <li>
                            <a href="{% url 'account_login' %}">Sign In</a>
                          </li>
                          <li>
                            <a href="{% url 'account_signup' %}">Sign Up</a>
                          </li>
                          <li>
                            <a href="{% url 'account_logout' %}">Log Out</a>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </nav>
                </div>
              </div>

              <div class="col-xl-2 col-lg-2 col-md-3">
                <div class="header-right-btn f-right d-none d-lg-block">
                  <a href="{% url 'create' %}" class="btn header-btn"
                    >Get started</a
                  >
                </div>
              </div>
              <!-- Mobile Menu -->
              <div class="col-12">
                <div class="mobile_menu d-block d-lg-none"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Header End -->
    </header>

    <div class="services-area">
      <div class="container">
        <!-- Section-tittle -->
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8">
            <div class="section-tittle text-center mb-80">
              <h2>Events​</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--================Blog Area =================-->
    <section class="blog_area section-paddingr">
      <div class="container">
        <div class="row">
          {% for event in events %}
          <article class="blog_item">


            <div class="blog_details">
              <a class="d-inline-block" href="{% url 'event_detail' event.id %}">
                <h2>{{event.title}}</h2>
              </a>
              <p>
                {{event.description|truncatewords:40}}
              </p>
              <ul class="blog-info-link">
                <li>
                  <a><i class="fa fa-user"></i>{{event.group.admin}}</a>
                </li>
                <li>
                  <a>{{event.date}}</a>
                </li>
              </ul>
            </div>
          </article>

          {% endfor %}

          <!-- <nav class="blog-pagination justify-content-center d-flex">
            <ul class="pagination">
              <li class="page-item">
                <a href="#" class="page-link" aria-label="Previous">
                  <i class="ti-angle-left"></i>
                </a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link">1</a>
              </li>
              <li class="page-item active">
                <a href="#" class="page-link">2</a>
              </li>
              <li class="page-item">
                <a href="#" class="page-link" aria-label="Next">
                  <i class="ti-angle-right"></i>
                </a>
              </li>
            </ul>
          </nav> -->
        </div>
      </div>
    </section>
    <!--================Blog Area =================-->

    <script src="{% static 'sec/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <script src="{% static 'sec/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'sec/js/popper.min.js' %}"></script>
    <script src="{% static 'sec/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'sec/js/jquery.slicknav.min.js' %}"></script>
    <script src="{% static 'sec/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'sec/js/slick.min.js' %}"></script>
    <script src="{% static 'sec/js/gijgo.min.js' %}"></script>
    <script src="{% static 'sec/js/wow.min.js' %}"></script>
    <script src="{% static 'sec/js/animated.headline.js' %}"></script>
    <script src="{% static 'sec/js/jquery.magnific-popup.js' %}"></script>
    <script src="{% static 'sec/js/jquery.scrollUp.min.js' %}"></script>
    <script src="{% static 'sec/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'sec/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'sec/js/contact.js' %}"></script>
    <script src="{% static 'sec/js/jquery.form.js' %}"></script>
    <script src="{% static 'sec/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'sec/js/mail-script.js' %}"></script>
    <script src="{% static 'sec/js/jquery.ajaxchimp.min.js' %}"></script>
    <script src="{% static 'sec/js/plugins.js' %}"></script>
    <script src="{% static 'sec/js/main.js' %}"></script>
  </body>
</html>
